<ng-include src="'/templates/funds/_flash.html'"></ng-include>
<ng-include ng-if="currency == 'btc'" src="'/templates/funds/deposit_btc.html'"></ng-include>
<ng-include ng-if="currency == 'eth'" src="'/templates/funds/deposit_eth.html'"></ng-include>
<ng-include ng-if="currency == 'gict'" src="'/templates/funds/deposit_gict.html'"></ng-include>
<ng-include ng-if="currency == 'gash'" src="'/templates/funds/deposit_gash.html'"></ng-include>
<ng-include ng-if="currency == 'ctwd'" src="'/templates/funds/deposit_ctwd.html'"></ng-include>
